<div class="row">
      <% @albums.each do |album| %>
      <a href="/albums/<%= album.id %>">
        <div class="col-lg-3 col-sm-4 col-xs-6 index_container">
          <% if album.cover.blank? %>
            <p><%= album.title %></p>
            <p><%= album.artist %></p>
            <p><%= album.year %></p>
            <%= link_to "Show", album_path(album), class: 'grey' %>
            <%= link_to "Edit", edit_album_path(album), class: 'grey' %>
            <%= link_to "Destroy", album_path(album), method: :delete, data: {confirm: "Are you sure?"}, class: 'grey' %>
          <% else %> 
          <!-- <div class="index_image" style="background-image: url('<%= album.cover %>')"></div> -->
           <%= image_tag album.cover, class: 'index_image medium' %> 
          <% end %>
        </div>
        </a>
      <% end %>
      <div class="col-xs-12 paginate_container">
        <%= will_paginate @albums, class: 'apple_pagination' %>
      </div>
  <br>
</div>

