
<% provide(:title, "| #{@album.title}") %>
<% provide(:image, @album.cover) %>

<div class="row">
  <div class="col-xs-10 col-md-6 col-md-push-3 col-xs-push-1 top bottom">
    <%= image_tag @album.cover, class: 'show_image' %>
    <h2><%= @album.title %></h2>
    <h4><%= @album.artist %></h4>
    <h5><%= @album.year %></h5>
    <br />
    <p class="white">Review</p><div class="review-rating" data-number="<%= @review.rating %>"></div>
    <% if user_signed_in? %>
      <% if @album.user_id == current_user.id %> 
        <%= link_to 'Edit', edit_album_review_path(@album, @review), class: 'grey' %> 
        | <%= link_to 'Delete', album_review_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'grey' %>
        <br />
      <% end %> 
    <% end %>
    <br />
    <p class="white"><%= @review.comment %></p> 
    <br />
  </div>
</div>

<script> 
$('.review-rating').raty({
  readOnly: true,
  score: function() {
    return $(this).attr('data-number');
  },
  path: '/assets/'
});

$('#rating-form').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});

$('.average-review-rating').raty({
  readOnly: true,
  path: '/assets/',
  score: function() {
    return $(this).attr('data-score')
  }
});
</script>